In [1]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import requests

## Using Splinter & ChromeDriver Manager to Scrape Mars Website

In [2]:
# Using splinter to scrape the web browser
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\mpddr\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache

## Mars News Headlines

In [4]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
#  x is page number denotation
pg = []
for x in range(1, 6):
    
    pg.append (x)
    html = browser.html
    soup = bs(html, 'html.parser')
    
    data_text = soup.find_all('div', class_ = 'list_text')
#     c_title = soup.find_all('div', class_='content_title')
#     title_date = soup.find_all('div', class_='list_date')
    cont_date =[]
    cont_title=[]
    cont_body=[]

    for data in data_text:
        title_date = data.find('div','list_date')
        cont_date.append (title_date)
        titles = data.find('div','content_title')
        cont_title.append (titles)
        body = data.find('div', 'article_teaser_body')
        cont_body.append (body)
#         print('page:', x, '-------------')
#         print(cont_title)
#         print(cont_date)

print('page:', pg[0], '-------------')
print(f"Latest News Title: {cont_title[0].text}")
print(f"Latest News Paragraph: {cont_body[0].text}")
print(f"Latest News Date: {cont_date[0].text}")

page: 1 -------------
Latest News Title: NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet
Latest News Paragraph: The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021.
Latest News Date: June 17, 2022

### Another way to Scrape website

In [6]:
# This method needs CHromeDriver Manager too.. Requests to wesbite without chromedriver dont seem to work. 
url = 'https://redplanetscience.com/'
browser.visit(url)

#  Create the html object
html = browser.html

#  use Beautiful soup to parse and find required titles, dates etc.
soup = bs(html, 'html.parser')
Latest_news_title = soup.find_all('div', class_='content_title')[0].text
Latest_news_paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
Latest_News_Date = soup.find_all('div', class_='list_date')[0].text

# Print results
print(f"Latest News Title: {Latest_news_title}")
print(f"Latest News Paragraph: {Latest_news_paragraph}")
print(f"Latest News Date: {Latest_News_Date}")

Latest News Title: MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss
Latest News Paragraph: Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.
Latest News Date: June 17, 2022

In [7]:
# Close the open browser
# browser.quit()

## JPL Mars Featured Image

In [8]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [9]:
#  Create the html object
html = browser.html

#  use Beautiful soup to parse and find required titles, dates etc.
soup = bs(html, 'html.parser')
floating_txt_area = soup.find_all('div', class_='floating_text_area')
floating_txt_area

[<div class="floating_text_area">
 <h2 class="brand_title">FEATURED IMAGE</h2>
 <h1 class="media_feature_title">Dusty Space Cloud</h1>
 <br/>
 <a class="showimg fancybox-thumbs" href="image/featured/mars1.jpg" target="_blank"> <button class="btn btn-outline-light"> FULL IMAGE</button></a>
 </div>]

In [10]:
for img in floating_txt_area:
    a = img.find('a')
    image = a['href']
    print(image)
featured_image_url = 'https://spaceimages-mars.com/' + image
print (f"Featured_image_url):{featured_image_url}")

image/featured/mars1.jpg
Featured_image_url):https://spaceimages-mars.com/image/featured/mars1.jpg

In [11]:
import shutil
from IPython.display import Image

In [12]:
response = requests.get(featured_image_url, stream=True)
with open('outputs/featuredimage.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)

Image(url= 'outputs/featuredimage.jpg')

## Mars Facts - Scraping

In [13]:
import pandas as pd

In [14]:
url = 'https://galaxyfacts-mars.com/'
# browser.visit(url)

In [15]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
type (tables)

list

In [17]:
df = tables[0]
df1 = tables[1]
df.columns = ['Facts', 'Mars', 'Earth']
df

                     Facts             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [18]:
df1.columns = ['Mars_Facts', 'Value']
df1

             Mars_Facts                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
mars_facts_html = df.to_html(header = False, index = False)
mars_facts_html.replace('\n', '')
print(mars_facts_html)

<table border="1" class="dataframe">
  <tbody>
    <tr>
      <td>Mars - Earth Comparison</td>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [20]:
# Saving html file of the mars facts table
df.to_html('mars_facts_table.html', header = False, index = False)

## Scraping for Mars Pictures from url

In [21]:
url = 'https://marshemispheres.com/'
browser.visit(url)
html = browser.html

#  use Beautiful soup to parse and find required titles, dates etc.
soup = bs(html, 'html.parser')
descrp = soup.find_all('div', class_='description')

print(descrp)

[<div class="description">
<a class="itemLink product-item" href="cerberus.html">
<h3>Cerberus Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
</div>, <div class="description">
<a class="itemLink product-item" href="schiaparelli.html">
<h3>Schiaparelli Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
</div>, <div class="description">
<a class="itemLink product-item" href="syrtis.html">
<h3>Syrtis Major Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
</div>, <div class="description">
<a class="itemLink product-item" href="valles.html">
<h3>Valles Marineris Hemisphere Enhanced</h3>
</a>
<span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
<p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
</div>]

In [28]:
mars_pics_url = []

# making a for loop to pull title & image_urls

for data in descrp: 
#     error handling
    try: 
        title = data.find('h3').text
        link = data.a['href']
        url_link = f"https://marshemispheres.com/" + link
        browser.visit(url_link)
        html = browser.html
        soup = bs(html, 'html.parser')
        pg_all = soup.find('img', class_="wide-image")
        pic_link = pg_all['src']
        img_url = f"https://marshemispheres.com/" + pic_link
        
        if (title and pic_link):
        
            print(title)
            print (img_url)
            print('---------------------------------------------------------------------------------')

            mars_pic_dict = {
                'Title':title, 
                'img_url': img_url
            }

            mars_pics_url.append(mars_pic_dict)
    except Exception as e:
        print(e)

Cerberus Hemisphere Enhanced
https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
---------------------------------------------------------------------------------
Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
---------------------------------------------------------------------------------
Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
---------------------------------------------------------------------------------
Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
---------------------------------------------------------------------------------

In [31]:
mars_pics_url

[{'Title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [34]:
# Use the requests library to download and save the image from the `img_url` above
response = requests.get(mars_pics_url[0]['img_url'], stream=True)
with open('outputs/Cerberus.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
Image(url='outputs/Cerberus.jpg')

In [35]:
response = requests.get(mars_pics_url[1]['img_url'], stream=True)
with open('outputs/Schiaparelli.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
Image(url='outputs/Schiaparelli.jpg')

In [36]:
response = requests.get(mars_pics_url[2]['img_url'], stream=True)
with open('outputs/Syrtis_Major.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
Image(url='outputs/Syrtis_Major.jpg')

In [37]:
response = requests.get(mars_pics_url[3]['img_url'], stream=True)
with open('outputs/Valles_Marineris.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
Image(url='outputs/Valles_Marineris.jpg')

In [39]:
 Mars_dict = {
        "Latest_news_title": Latest_news_title,
        "Latest_news_paragraph": Latest_news_paragraph,
        "Featured_image_urlge_url": featured_image_url,
        "Mars_facts_html_table": mars_facts_html,
        "Hemisphere_images": mars_pics_url
    }
Mars_dict

{'Latest_news_title': 'MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss',
 'Latest_news_paragraph': 'Five years after NASA’s MAVEN spacecraft entered into orbit around Mars, data from the mission has led to the creation of a map of electric current systems in the Martian atmosphere.',
 'Featured_image_urlge_url': 'https://spaceimages-mars.com/image/featured/mars1.jpg',
 'Mars_facts_html_table': '<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'Hemisphere_images': [{'Title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'Title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'Title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'Title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}